{% extends "base.html" %}
{% load static %}
{% load format_description %}

{% block head %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{name}} | {{about}} | {{location}}</title>
    <meta name="description" content="{{name}}, {{about}}, {{location}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="{% static 'screen.css' %}">
  </head>
{% endblock %}

{% block details %}
  <header id="name">
    <h1>{{name}}</h1>
  </header>
  <div id="about">
    <div>
      <p>{{about}}</p>
      <p>{{location}}</p>
      {% if websites %}
      <ul>
        {% if email %}
        <li><a href="mailto:{{email}}">Email</a></li>
        {% endif %}
        {% for website in websites %}
        <li><a href="{{website.url}}" target="_blank">{{website.name}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>      
{% endblock %}

{% block interests %}
  {% if interests %}
  <article id="interests">
    <header>
      <h2>Interests</h2>
    </header>
    <ul>
      {% for interest in interests %}
      <li>{{interest}}</li>
      {% endfor %}
    </ul>
  </article>
  {% endif %}
{% endblock %}

{% block experience %}
  {% if experience %}
  <article id="experience">
    <header>
      <h2>Experience</h2>
    </header>
    {% for company in experience.companies %}
    <section>
      <h3><a href="{{company.url}}" target="_blank">{{company.name}}</a></h3>
      {% for position in company.positions %}
      <section>
        <h4>{{position.title}}</h4>
        <em>{{position.start_date}} - {% if position.end_date %}{{position.end_date}}{% elif position.is_current %}Current{% endif %} ({{position.duration}})</em>
        {% if position.description %}
        {{position.description|format_description}}
        {% endif %}
      </section>
      {% endfor %}
    </section>
    {% endfor %}
  </article>
  {% endif %}
{% endblock %}

{% block education %}
  {% if education %}
  <article id="education">
    <header>
      <h2>Education</h2>
    </header>
    {% for school in education.schools %}
    <section>
      <h3><a href="{{school.url}}" target="_blank">{{school.name}}</a></h3>
      {% for program in school.programs %}
      <section>
        {% if program.name %}
        <h4><a href="{{program.url}}" target="_blank">{{program.degree}}, {{program.name}}</a></h4>
        {% endif %}
        <em>{{program.start_date|date:"Y"}}{% if program.end_date and program.start_date != program.end_date %} - {{program.end_date|date:"Y"}}{% elif program.is_current %}current{% endif %}</em>
      </section>
      {% endfor %}
    </section>
    {% endfor %}
  </article>
  {% endif %}
{% endblock %}

